<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUtilities" version="0.6.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="portable45-net45+win8+wpa81" />
</packages>